<% include ../partials/header %>

<div class="container mt-8">
    <h1 class="text-center py-3">Your account has been created, you can now add your own campgrounds !!!</h1>
</div>

<% include ../partials/footer %> 