<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">YelpCamp!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/campgrounds/new">Create New Camp</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-4" action='/campgrounds?_method=SEARCH' method='POST'>
            <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search by specific name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav">
            <% if (currentUser == undefined) {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">LogIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Sign-up</a>
              </li>
            <% } else {%>
              <li class="nav-item">
                <a class='nav-link' href='#'>Signed as <%= currentUser.username %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">LogOut</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    

    <div class="container mt-7">
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if(warning && warning.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= warning %>
        </div>
      <% } %>