<% include partials/header %>

<div class="container">
    <h1 class="text-center py-3">Create your account</h1>
    <div class="row text-center">
        <div class="col-lg-4"></div>
        <form action="/register" method="POST" class="col-lg-4">
            <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
            <button class="btn btn-lg btn-success btn-block">Register</button>
            </div>
            <div class="form-group">
            <p><a href="/" class="btn btn-md btn-dark btn-block">Go Back</a></p>
            </div>
        </form>
        <div class="col-lg-4"></div>
    </div>
    
</div>

<% include partials/footer %> 